@model IEnumerable<Demomvc.Models.Person>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <input type="text" name="searchString" placeholder="Nhập tên cần tìm" value="@ViewData["CurrentFilter"]" />
    <input type="submit" value="Tìm Kiếm" />
</form>

<br>
    <form asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="row form-control">
            <label class="col-sm-4">Import data from Excel :</label>
            <input type="file" name="file" class="col-sm-6">
            <input type="submit" value="Upload" class="btn btn-primary col-sm-1">
        </div>
   </form>

<br>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="DownLoad" class="btn btn-success">DownLoad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
    {
        page = page,

    }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})